#location {
  h1.head {
    font-family: poppins-semibold;
  }
  .map {
    width: 100%;
    position: relative;

    .location {
      position: absolute;
      cursor: pointer;
      img {
        width: 30px;
      }
      &:nth-child(1) {
        left: 230px;
        top: 15px;
      }
      &:nth-child(2) {
        left: 160px;
        top: 90px;
      }
      &:nth-child(3) {
        left: 260px;
        top: 100px;
      }
      &:nth-child(4) {
        left: 250px;
        bottom: 250px;
      }
      &:nth-child(5) {
        left: 600px;
        bottom: 320px;
      }
      &:nth-child(6) {
        right: 400px;
        top: 350px;
      }
      &:nth-child(7) {
        right: 300px;
        top: 120px;
      }
      &:nth-child(8) {
        right: 280px;
        top: 220px;
      }
      .dtls {
        text-align: center;
        margin-left: -40px;
        background: #fff;
        width: 100px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.795);
        span {
          font-size: small;
        }
        small {
          font-size: 12px;
          color: $blackfade;
          padding: 0%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #location {
    .map {
      .location {
        img {
          width: 30px;
        }
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          left: 260px;
          top: 100px;
        }
        &:nth-child(4) {
          left: 250px;
          bottom: 250px;
        }
        &:nth-child(5) {
          left: 300px;
          bottom: 220px;
        }
        &:nth-child(6) {
          right: 400px;
          top: 250px;
        }
        &:nth-child(7) {
          right: 300px;
          top: 120px;
        }
        &:nth-child(8) {
          right: 280px;
          top: 220px;
        }
        .dtls {
          text-align: center;
          margin-left: -40px;
          background: #fff;
          width: 100px;
          border-radius: 10px;
          box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.795);
          span {
            font-size: small;
          }
          small {
            font-size: 12px;
            color: $blackfade;
            padding: 0%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  #location {
    .map {
      .location {
        img {
          width: 30px;
        }
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          top: 30px;
          left: 90px;
        }
        &:nth-child(4) {
          display: none;
        }
        &:nth-child(5) {
          display: none;
        }
        &:nth-child(6) {
          display: none;
        }
        &:nth-child(7) {
          top: 20px;
          right: 90px;
        }
        &:nth-child(8) {
          top: 100px;
          right: 100px;
        }
        .dtls {
          text-align: center;
          margin-left: -40px;
          background: #fff;
          width: 100px;
          border-radius: 10px;
          box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.795);
          span {
            font-size: small;
          }
          small {
            font-size: 12px;
            color: $blackfade;
            padding: 0%;
          }
        }
      }
    }
  }
}
