@font-face {
  font-family: poppins-regular;
  src: url("../Assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: poppins-semibold;
  src: url("../Assets/fonts/Poppins-SemiBold.ttf");
}

//  color chart

$black: #080133;
$blackfade: #0801338a;
$orange: #ff7a00;
$yellow: #fbd573;
$yellowFade: #fbf8ed;
